build/
dist/
*.egg-info/
env/
htmlcov/
logs/
__pycache__/
.pytest_cache/
.venv/
venv/
/web-scraper/storage/
*$py.class
.coverage
.DS_Store
.env
*.log
*.pyc
*.py[cod]
/uv.lock
/docs/crawlee-python.repomix.xml
